*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(0, 0%, 3%);
}

header{
    margin: 25px 0 0 25px;
}

header nav button{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
   font-family: 'Big Shoulders Display' cursive;
}

header nav button:hover{
   background-color: transparent;
    border: 2px solid hsl(31, 77%, 52%);
    padding: 13px 28px;
    color: hsl(31, 77%, 52%);
}


.container{
    display: flex;
    align-items: center;
    min-height: 100vh;
   
}



main{
    display: grid;
    grid-template-areas: 
    'one one two'
    'three four four'
    'three five five';
    gap: 10px;
    width: 50%;
    margin: auto;
}

main div{
    padding: 3em;
    text-align: center;
}

.item-a{
    background-color: #eb5020;
    grid-area: one;
   
}

.item-b{
    background-color: #ffa401;
    grid-area: two;
  
}

.item-c{
    background-color: #05aa42;
    grid-area: three;

}

.item-d{
    background-color: #01aefd;
    grid-area: four;
  
}

.item-e{
    background-color: #01aefd;
    grid-area: five;
   
}