@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

header{
    margin: 25px 0 0 25px;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


header nav button{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
   font-family: 'Big Shoulders Display' cursive;
}

header nav button:hover{
   background-color: transparent;
    border: 2px solid hsl(179, 100%, 13%);
    padding: 13px 28px;
    color: hsl(179, 100%, 13%);
    transition:  background-color 0.3s ease;
}
.cards{
    width: 800px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.cardsitem{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.cardsitem h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.cardsitem p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    flex-grow: 1;
}

.cardsitem button{
    background-color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.cardsitem button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 13px 28px;
    color: hsl(0, 0%, 95%);
    transition:  background-color 0.3s ease;
}
.first-card{
    background-color: hsl(31, 77%, 52%);
}

.first-card button{
    color: hsl(31, 77%, 52%);
}
.second-card{
    background-color: hsl(184, 100%, 22%);
}

.second-card button{
    color: hsl(184, 100%, 22%);
}

.third-card{
    background-color: hsl(179, 100%, 13%);
}

.third-card button{
    color: hsl(179, 100%, 13%);
}


@media screen and (max-width: 550px) {

    body{
        padding: 70px 30px;
    }
    .cards{
        flex-direction: column;
    }
}