* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #f1fbff;
    min-height: 100%;
    font-family: "Lucida Grande";
    display: flex;
    flex-direction: column;
}

/* Header */

nav {
    background-color: #1b9bff;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    color: #fff;
    background-color: #2c3c50;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* Main */
main{
    background-color: #cacdd2;
}
/* Home */

.home .home-content img {
    height: auto;
    width: 400px;
    max-width: 100%;
    border-radius: 20%;
}

.home-text {
    width: 550px;
    max-width: 100%;
}

.home-text h5 {
    color: #0082e6;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.home-text h1 {
    color: #2c3c50;
    font-size: 48px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

/* About Me & Home & Contact & Project */

/* .about,
.home,
.contact {
    width: 100%;
    background-color: #cacdd2;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.about .about-content img {
    height: auto;
    width: 400px;
    max-width: 100%;
    border-radius: 20%;

}

.about-text,
.contact-form {
    width: 550px;
    max-width: 100%;
}

.about-content,
.home-content,
.contact-content {
    width: 1280px;
    max-width: 95%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* About Me */

.about-text h1,
.contact-form h1,
.project h1,
.service>h1 {
    color: #0082e6;
    font-size: 48px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text h5 {
    color: #2c3c50;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}


.about-text p,
.home-text p,
.contact-form p {
    color: #333333;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

button {
    background-color: #0082e6;
    color: #fff;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}

button:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #0082e6;
    color: #2c3c50;
    transition: .4s;
    cursor: pointer;
}

/* Project */
.project {
    display: flex;
    flex-direction: column;
    background-color: rgba(203, 206, 210, 0.9);
    padding: 20px;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    cursor: pointer;
    width: 360px;
    height: 240px;
    margin: 10px;
}

.gallery img:hover {
    transform: scale(1.1);
    transition: .8s;
}


/* Services */

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #cacdd2;
}


.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    color: #2c3c50;
    border: 1px solid #0082e6;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, #1b9bff 50%, #fff 50%);
    background-size: 100% 200%;
    transition: a11 .8s;
}

.box i {
    font-size: 64px;
    padding: 10px;
}

.box-heading {
    font-size: 32px;
    text-align: center;
    margin: 40px 0px;
}

.box p {
    font-size: 18px;
    line-height: 28px;
    padding: 16px;
    margin-bottom: 45px;
}


.box:hover {
    color: #fff;
    background-position: left bottom;
    border: none;
    box-shadow: 0 0 20px rgba(27, 155, 255, 0.3);
}


/* Contact  */
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background-color: #2c3c50;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;

}

.contact-form textarea {
    resize: none;
    height: 300px;
}

/* Footer */

footer {
    background-color: #1b9bff;
    padding-top: 8px;
    color: #fff;
    margin-top: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2rem;
    font-family: 500;
    text-transform: capitalize;
    line-height: 2.5rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 16px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials li a {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #fff;
    color: #0082e6;
    border-radius: 50%;
    font-size: 20px;
}

.footer-bottom {
    background-color: #0082e6;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.footer-bottom p {
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #2c3c50;
    font-size: 16px;
    text-decoration: none;
    background-color: #0082e6;
}

/* main{
    background: url(/img/picture.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  } */


/* Tablet */

@media all and (max-width: 1000px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .about,
    .home,
    .contact {
        width: 100%;
        height: auto;
        padding: 70px 20px;
    }
}


/* Phone */

@media all and (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3c50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        color: #fff;
    }

    a:hover,
    a.active {
        background-color: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

    .footer-bottom p {
        max-width: auto;
        text-align: center;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .about .about-content img,
    .contact .contact-content img {
        margin-bottom: 35px;
    }

    .home .home-content img,
    .contact .contact-content img {
        margin-top: 35px;
    }

    .about-text h1 {
        font-size: 60px;
        margin-bottom: 25px;
    }

    .home-text h1 {
        font-size: 32px;
        margin-bottom: 25px;
    }
}